* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

body {
  background-image: url("../img/pexels-lilartsy-1111597.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
}

button {
  border: 2px solid #ffff;
  background-color: white;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: transparent;
  width: 26vh;
  height: 15vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px black;
  font-weight: bold;
}

.h-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.all-input {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

::placeholder {
  font-weight: bold;
}

textarea {
  font-weight: bold;
}

#result {
  display: flex;
  justify-content: center;
}
